# Gradle
.gradle/
build/
**/build/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Kotlin
**/*.kotlin_metadata
**/*.kotlin_module

# Java
*.class

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Environment
.env